{% extends "base.html" %}

{% block title %}All Spark Camps{% endblock %}

{% block pageheader %}All Spark Camps{% endblock %}

{% block content %}

<section class="content">
    {% if camps %}
        <table class="table table-basic">
            <thead>
                <tr>
                    <th>Theme</th>
                    <th>Dates</th>
                </tr>
            </thead>
            {% for camp in camps %}
            <tr>
                <td><a href="/camps/{{ camp.theme|lower }}">Spark Camp {{ camp.theme }}</a></td>
                <td>{{ camp.start_date|date:"l, F j" }} to {{ camp.end_date|date:"l, F j, Y" }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No camps found.</p>
    {% endif %}
</section>

{% endblock %}