{% extends "single_camp.html" %}

{% block title %}Dietary preferences for Spark Camp {{ camp.theme }}{% endblock %}

{% block pageheader %}Dietary preferences{% endblock %}

{% block content %}
<section class="content">
    {% if invitations %}
        <table class="table table-basic">
            <thead>
                <tr>
                    <th>Invite No.</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Dietary preference</th>
                </tr>
            </thead>                        
        {% for invite in invitations %}
            <tr>
                <td><a href="{% url 'invitation' invite.rand_id %}">{{ invite.rand_id }}</a></td>
                <td>{{ invite.user.first_name }}</td>
                <td>{{ invite.user.last_name }}</td>
                <td>{{ invite.user.sparkprofile.dietary }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p class="text-large">No invitations found.</p>
    {% endif %}
</section>
{% endblock %}