{% extends "anon.html" %}

{% block content %}

<div class="row">
    <div class="span4">
        <ul class="breadcrumb">
            <li>{% block maincrumb %}<a href="{% url invitation invitation.rand_id %}">Back to dashboard</a>{% endblock %} <span class="divider">/</span></li>
            <li class="active">{% block breadcrumb %}Generic form{% endblock %}</li>
        </ul>
    </div>

    <div class="span8">
    
    {% block form %}
    
        <h3>There should be a form here.</h3>
    
    {% endblock %}
    </div>
</div>

{% endblock %}