{% extends "base.html" %}

{% block title %}Invitations for {{ username }}{% endblock %}

{% block pageheader %}Invitations for {{ username }}{% endblock %}

{% block content %}
        {% if invitations %}
                {% for invitation in invitations %}
                    {% if invitation.status != "Pending" %}
                    <h2>Your status for Spark Camp {{ invitation.camp.theme }} is {{ invitation.status }}.</h2>
                    <p>Have your plans changed? Please let us know:</p>
                    <form action="/" method="post">{% csrf_token %}
                    {{ invitation.form.as_p }}
                    <input type="submit" value="Submit" />
                    </form>
                    {% else %}
                    <h2>Please RSVP for Spark Camp {{ invitation.camp.theme }}:</h2>
                    <form action="/" method="post">{% csrf_token %}
                    {{ invitation.form.as_p }}
                    <input type="submit" value="Submit" />
                    </form>
                    {% endif %}
                {% endfor %}
        {% else %}
            <p>No invitation found.</p>
        {% endif %}
{% endblock %}