{% extends "form_holder.html" %}

{% block styles %}
<link href="{{ STATIC_URL }}_css/timepicker.css" rel="stylesheet" />
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
{% endblock %}

{% block breadcrumb %}Logistics{% endblock %}

{% block logisticsnav %} class="active"{% endblock %}

{% block form %}
<form class="well form form-inline" action="{% url 'invite_logistics' invitation.rand_id %}" method="post">
    <h3>Logistics for {{ invitation.user.first_name }} {{ invitation.user.last_name }}</h3><br />
    <table class="table table-basic">
    {% csrf_token %}
    {{ form.as_table }}
    </table>
    <input class="btn btn-small" type="submit" value="submit" />
</form>
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}_js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript">
 $(document).ready(function() {
    if ($("#id_arrival_time").val() == 0) {
        $("#id_arrival_time").val("{{ invitation.camp.start_date|date:"m/d/Y H:i" }}");
        }
    if ($("#id_departure_time").val() == 0) {
        $("#id_departure_time").val("{{ invitation.camp.end_date|date:"m/d/Y H:i" }}");
        }
    $("#id_arrival_time").datetimepicker();
    $("#id_departure_time").datetimepicker();
  });
  </script>
{% endblock %}