{% extends "form_holder.html" %}

{% block profilenav %} class ="active"{% endblock %}

{% block breadcrumb %}{{ invitation.user.first_name }} {{ invitation.user.last_name }}{% endblock %}

{% block form %}
        <form class="comment-form form-basic" action="{% url 'profile' invitation.rand_id %}" method="post">
        <h3 class="h3">Profile for {{ invitation.user.first_name }} {{ invitation.user.last_name }}</h3><br />
        <table class="table table-basic">
        {% csrf_token %}
        {{ form.as_table }}
        </table>
        <input class="submit btn-large" type="submit" value="submit" />
        </form>
{% endblock %}
