{% extends "single_column.html" %}

{% block title %}Spark Camp: Payment confirmed{% endblock %}
{% block pageheader %}We're so glad you're coming. Now, <span class="orange">complete your registration.</span>{% endblock %}


{% block content %}

<h1 class="h1">We're so glad you're coming. Now, <span class="orange">complete your registration</span>.</h1>

<p class="text-med">Make sure all the following information we have on file for you is correct:</p>

<p class="text">&nbsp;</p>
<p class="text">&nbsp;</p>
<p class="text">&nbsp;</p>
{% endblock %}
