{% extends "registration_complete.html" %}

{% block title %}{{ invitation.camp.display_name }}: Update your information{% endblock %}

{% block leftcolumn %}
<p class="text"><a href="{% url 'route_registration' rand_id=invitation.rand_id %}" class="url orange">⬅ Back to invitation</a></p>
<h3 class="overline-alt">{{ invitation.camp.display_name }}</h3>

{% if invitation.status == 'I' %}
<h1 class="h1">Your spot is reserved.</h1>
<h1 class="h1 orange">Now complete your registration.</h1>
{% elif invitation.status == 'Y' %}
<h1 class="h1">Your attendance is confirmed.</h1>
<h1 class="h1 orange">Update your information here.</h1>
{% endif %}

    <p class="text-med">{% if not invitation.user.sparkprofile.has_headshot %}We don't yet have a headshot on file for you. Please email a clear, hi-res photo of yourself to <a href="mailto:sparkcampphotos@gmail.com" class="orange">sparkcampphotos@gmail.com</a>, and check the 'Headshot sent' box below.{% endif %}{% if invitation.user.sparkprofile.bio == '' %} We're missing a bio for you; please submit one below.{% endif %} Here's the information we have for you, please make sure it's correct:</p>
    <form class="well" action="{% url 'registration_update' rand_id=invitation.rand_id %}" method="post">{% csrf_token %}
    <table class="table table-basic">
    {{ profileform.as_table }}
    </table>
        <input class="submit btn-large" type="submit" value="Submit" />
    </form>


<p class="text">&nbsp;</p>
<p class="text">&nbsp;</p>
<p class="text">&nbsp;</p>
{% endblock leftcolumn %}
