{% extends "single_column.html" %}

{% block title %}Spark Camp: Reserve a spot{% endblock %}
{% block pageheader %}Reserve your spot at Spark Camp{% endblock %}


{% block content %}

<h3 class="overline-alt">{{ invitation.camp.display_name }}</h3>
<h1 class="h1">Your spot is reserved.</h1>
<h1 class="h1 orange">Now complete your registration.</h1>

    {% if not invitation.user.sparkprofile.has_headshot %}<p class="text-med">We don't yet have a headshot on file for you. Please email a clear, hi-res photo of yourself to <a href="mailto:sparkcampphotos@gmail.com" class="orange">sparkcampphotos@gmail.com</a>.</p>{% endif %}
    <p class="text-med">Please make sure all the following information we have on file for you is correct:</p>
    <form class="well" action="{% url 'registration_update' rand_id=invitation.rand_id %}" method="post">{% csrf_token %}
    <table class="table table-basic">
    {{ profileform.as_table }}
    </table>
        <input class="submit btn-large" type="submit" value="Submit" />
    </form>


<p class="text">&nbsp;</p>
<p class="text">&nbsp;</p>
<p class="text">&nbsp;</p>
{% endblock %}
