{% extends "base.html" %}

{% block title %}{% if invitation.camp.display_name %}{{ invitation.camp.display_name }}{% else %}{{ invitation.camp.theme }}{% endif %}{% endblock title %}

{% block leftcolumn %}
<h1 class="h1">
    {% if invitation.camp.display_name %}
        {{ invitation.camp.display_name }}
    {% else %}
        {{ invitation.camp.theme }}
    {% endif %}
</h1>

<h3 class="overline-alt">
    {% if invitation.camp.start_date and invitation.camp.end_date %}{{ invitation.camp.start_date|date:"F j" }}-{{ invitation.camp.end_date|date:"j, Y" }}{% endif %}
</h3>
<em class="post-script">
    {% if invitation.camp.venue %}{{ invitation.camp.venue}} {% endif %}
    {% if invitation.camp.city and invitation.camp.state %} | {{ invitation.camp.city }}, {{ invitation.camp.state }}{% endif %}
</em>

{% autoescape off %}
<p class="text-med">{{ invitation.camp.welcome }}</p>
{% endautoescape %}


<p class="text">&nbsp;</p>
<p class="text">&nbsp;</p>
<p class="text">&nbsp;</p>
{% endblock leftcolumn %}

{% block rightcolumn %}
<h4 class="h4">Attend</h4>
<p class="text">The cost to attend {{ invitation.camp.display_name }} is ${{ invitation.camp.ticket_cost }}.{% if invitation.special_cost %} Your ticket comes at a special discounted rate of ${{ invitation.special_cost }}. {% endif %}{% if invitation.camp.stipends %} If you won't be able to attend without financial assistance, please <a href="{% url 'register_stipend' rand_id=invitation.rand_id %}" class="orange">request a stipend</a>.{% endif %}</p>
<form action="{% url 'receive_payment' invitation.rand_id %}" method="POST">
    {% csrf_token %}
    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ invitation.key }}"
        data-amount="{{ invitation.cost }}"
        data-name="{{ invitation.camp.theme }}"
        data-description="Reserve your place"
        data-label="Reserve your place"
    </script>
    <input type="hidden" name="rand_id" value="{{ invitation.rand_id }}" />
</form>

<h4 class="h4 orange"><a href="{{ invitation.camp.faq_url }}">Read the FAQ ➡</a></h4>
{% endblock rightcolumn %}

