{% extends "single_column.html" %}

{% block title %}Spark Camp: Reserve a spot{% endblock title %}

{% block content %}
<h1 class="h1">Reserve your spot at Spark Camp</h1>
<p class="text">{{ invitation.camp.welcome }}</p>

<form action="{% url 'receive_charge' invitation.rand_id %}" method="POST">
    {% csrf_token %}
    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_GxF2mzpXClHrTRoynZPUT8OU"
        data-amount="30000"
        data-name="Spark Camp Giving"
        data-description="Reserve a spot"
        data-image="/128x128.png">
    </script>
    <input type="hidden" name="rand_id" value="{{ invitation.rand_id }}" />
</form>

<p class="text">&nbsp;</p>
<p class="text">&nbsp;</p>
<p class="text">&nbsp;</p>
{% endblock content %}
