{% extends "anon.html" %}

{% block dashboardnav %} class="active"{% endblock %}

{% block title %}{% if invitation.user.first_name %}{{ invitation.user.first_name }}'s {% endif %}Spark Camp {{ invitation.camp.theme }} Dashboard{% endblock %}

{% block pageheader %}Hi{% if invitation.user.first_name %}, {{ invitation.user.first_name }}{% endif %}.
<small>Manage your information for Spark Camp {{ invitation.camp.theme }} here.</small>
{% endblock %}

{% block content %}

        <div class="row">
            <div class="span4">
            
            {% block update %}{% if update %}
            
                <div class="alert alert-success">{{ update }}</div>

            {% endif %}{% endblock %}
            
            {% if invitation %}
            
                <p>{{ message }}</p>

                <form class="form-inline" action="{% url invitation invitation.rand_id %}" method="post">{% csrf_token %}
                <strong>Current RSVP:</strong><br />{{ form.status }}
                <input class="btn" type="submit" value="Update" />
                </form>

            {% else %}

                <p>No invitation found.</p>

            {% endif %}

            </div>
            
            <div class="span8">
            
            {% if invitation %}
            
                <div class="well">
                    <h2>Information about Spark Camp {{ invitation.camp.theme }}</h2>
                    
                    <p><strong>Dates:</strong> {{ invitation.camp.start_date|date:"l, F j" }} to {{ invitation.camp.end_date|date:"l, F j, Y" }}</p>
                    <p><strong>Description:</strong> {{ invitation.camp.description }}</p>
                    <p><strong>Official hotel:</strong> {{ invitation.camp.hotel }} (<a href="{{ invitation.camp.hotel_url }}">Reservation link</a>)</p>
                </div>
                    
            {% endif %}
            
            </div>
        </div>
        
        {% if invitation.status == 'Y' %}
            
            {% if user %}
                <div class="row">
                    <div class="span12">
                        <div class="alert alert-block">
                        <h4 class="alert-heading">A word of warning.</h4>
                        Keep the URL of this page secret. We didn't want to hassle you to log in, but that means anyone who has this link can change your bio to say you rose to fame as a cast member on "Jersey Shore."</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <div class="page-header">
                        <h1>Contact and bio info</h1>
                        </div>
                    </div>
                    <div class="span8 offset4">
                        <h3>Tell us more about you.</h3>
                            <dl class="dl-horizontal">
                                <dt><strong>Bio:</strong></dt>
                                <dd>{% if sparkprofile.bio %}{{ sparkprofile.bio }}{% else %}<span class="muted">Submit a bio.</span>{% endif %}</dd>
                                <dt><strong>Email:</strong></dt>
                                <dd>{% if user.email %}{{ user.email }}{% else %}<span class="muted">No preferred email address given.</span>{% endif %}</dd>
                                <dt><strong>Phone:</strong></td>
                                <dd>{% if sparkprofile.phone %}{{ sparkprofile.phone }}{% else %}<span class="muted">No phone number given.</span>{% endif %}</dd>
                                <dt><strong>URL:</strong></dt>
                                <dd>{% if sparkprofile.url %}<a href="{{ sparkprofile.url }}">Your website link.</a>{% else %}<span class="muted">No website given.</span>{% endif %}</dd>
                                <dt><strong>Twitter:</strong></td>
                                <dd>{% if sparkprofile.twitter %}<a href="http://twitter.com/{{ sparkprofile.twitter }}">@{{ sparkprofile.twitter }}</a>{% else %}<span class="muted">No Twitter handle given.</span>{% endif %}</dd>
                                <dt><strong>Job title:</strong></td>
                                <dd>{% if sparkprofile.job_title %}{{ sparkprofile.job_title }}{% else %}<span class="muted">No job title given.</span>{% endif %}</dd>
                                <dt><strong>Employer:</strong></td>
                                <dd>{% if sparkprofile.employer %}{{ sparkprofile.employer }}{% else %}<span class="muted">No employer given.</span>{% endif %}</dd>
                            </dl>
                            <a class="btn btn-small" href="{% url profile invitation.rand_id %}">Update contact info</a>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <div class="page-header">
                        <h1>Spark Camp logistics</h1>
                        </div>
                    </div>
                    <div class="span8 offset4">
                        <h3>This info is very helpful for us to have.</h3>
                             <dl class="dl-horizontal">
                                <dt><strong>Dietary&nbsp;needs:</strong></dt>
                                <dd>{% if invitation.dietary %}{{ invitation.dietary }}{% else %}<span class="muted">Please specify any dietary preferences.</span>{% endif %}</dd>
                                <dt><strong>Arrival time:</strong></dt><dd>{% if invitation.arrival_time %}{{ invitation.arrival_time }}{% else %}<span class="muted">Please let us know when you'll be getting to Spark Camp.</span>{% endif %}</dd>
                                <dt><strong>Departure time:</strong></dt><dd>{% if invitation.departure_time %}{{ invitation.departure_time }}{% else %}<span class="muted">Please let us know when you'll be leaving Spark Camp.</span>{% endif %}</dd>
                                <dt><strong>Hotel is booked:</strong></dt><dd>{% if invitation.hotel_booked %}Yep.{% else %}<span class="muted">Please tell us when you've booked your hotel.</span>{% endif %}</dd>
                            </dl>
                            <a class="btn btn-small" href="{% url invite_logistics invitation.rand_id %}">Update these details</a>
                        <hr />
                        {% if stipend %}
                            <h3>You've requested a travel stipend.</h3><p>We hope to be able to accommodate your request. We'll get back to you as soon as we've finalized our attendee list.</p>
                            <dl class="dl-horizontal">
                                <dt><strong>Cost estimate:</strong></dt>
                                <dd>
                                {% if stipend.cost_estimate %}
                                {{ stipend.cost_estimate }}
                                {% else %}
                                <span class="muted">
                                Please specify the estimated cost for travel.
                                </span>
                                {% endif %}</dd>
                                <dt><strong>Employer&nbsp;subsidy:</strong></dt>
                                <dd>
                                {% if stipend.employer_percentage %}
                                {{ stipend.employer_percentage }}%
                                {% else %}
                                <span class="muted">
                                Not specified.
                                </span>
                                {% endif %}
                                </dd>
                                <dt><strong>Your contribution:</strong></dt>
                                <dd>
                                {% if stipend.invitee_percentage %}
                                {{ stipend.invitee_percentage }}%
                                {% else %}
                                <span class="muted">
                                Not specified.
                                </span>
                                {% endif %}
                                </dd>
                                <dt><strong>Details:</strong></dt>
                                <dd>
                                {% if stipend.details %}
                                {{ stipend.details }}
                                {% else %}
                                <span class="muted">
                                No more information given.
                                </span>
                                {% endif %}
                                </dd>
                            </dl>
                            <div class="btn-group"><a class="btn btn-small" href="{% url invite_related rand_id=invitation.rand_id main_object='Stipend' %}">Edit this request</a>
                            <a class="btn btn-small btn-danger" href="{% url invite_related_delete main_object='Stipend' rand_id=invitation.rand_id %}">Cancel this request</a>
                            </div>
                            {% else %}
                            <h3>Request a travel stipend.</h3> 
                            <p>A limited number of partial travel stipends are available to ensure campers can attend regardless of financial situation.</p>
                            <p><a class="btn btn-small" href="{% url invite_related rand_id=invitation.rand_id main_object='Stipend' %}">Request a stipend</a></p>
                        {% endif %}
                        <hr />
        
                        {% if roommate %}
                            <h3>You've requested a roommate.</h3><p>Coming soon: a list of Campers seeking roommates. Found a match? <a href="{% url invite_related rand_id=invitation.rand_id main_object='Roommate' %}">Let us know.</a></p>
                            <dl class="dl-horizontal">
                                <dt><strong>Your sex:</strong></dt>
                                <dd>
                                {% if roommate.sex %}
                                {{ roommate.sex }}
                                {% else %}
                                <span class="muted">
                                Please specify your sex.
                                </span>
                                {% endif %}</dd>
                                <dt><strong>Will&nbsp;room&nbsp;with:</strong></dt>
                                <dd>
                                {% if roommate.roommate %}
                                {{ roommate.roommate }}
                                {% else %}
                                <span class="muted">
                                Not specified.
                                </span>
                                {% endif %}
                                </dd>
                                <dt><strong>More info:</strong></dt>
                                <dd>
                                {% if roommate.details %}
                                {{ roommate.details }}
                                {% else %}
                                <span class="muted">
                                Not specified.
                                </span>
                                {% endif %}
                                </dd>
                            </dl>
                            <div class="btn-group"><a class="btn btn-small" href="{% url invite_related rand_id=invitation.rand_id main_object='Roommate' %}">Edit this request</a>
                            <a class="btn btn-small btn-danger" href="{% url invite_related_delete main_object='Roommate' rand_id=invitation.rand_id %}">Cancel this request</a>
                            </div>
                            {% else %}
                            <h3>Request a roommate.</h3> 
                            <p>Tell us a few details about the rooming situation you're comfortable with, and we'll try to match you up with another Camper.</p>
                            <p><a class="btn btn-small" href="{% url invite_related rand_id=invitation.rand_id main_object='Roommate' %}">Request a roommate</a></p>
                        {% endif %}
                        <hr />
                        
                        {% if ignite %}
                            <h3>You've proposed an Ignite talk.</h3>
                            <p>Start preparing your talk! We'll be in touch to confirm your participation.</p>
                            <dl class="dl-horizontal">
                                <dt><strong>Title:</strong></dt>
                                <dd>
                                {% if ignite.title %}
                                {{ ignite.title }}
                                {% else %}
                                <span class="muted">
                                Please specify a title.
                                </span>
                                {% endif %}</dd>
                                <dt><strong>Experience:</strong></dt>
                                <dd>
                                {% if ignite.experience %}
                                {{ ignite.experience }}
                                {% else %}
                                <span class="muted">
                                Not specified.
                                </span>
                                {% endif %}
                                </dd>
                                <dt><strong>More info:</strong></dt>
                                <dd>
                                {% if ignite.description %}
                                {{ ignite.description }}
                                {% else %}
                                <span class="muted">
                                Not specified.
                                </span>
                                {% endif %}
                                </dd>
                            </dl>
                            <div class="btn-group">
                            <a class="btn btn-small" href="{% url invite_related rand_id=invitation.rand_id main_object='Ignite' %}">Edit this proposal</a>
                            <a class="btn btn-small btn-danger" href="{% url invite_related_delete main_object='Ignite' rand_id=invitation.rand_id %}">Cancel this proposal</a>
                            </div>
                            {% else %}
                            <h3>Sign up for Ignite</h3> 
                            <p>An Ignite talk is a 5-minute presentation with an auto-advancing deck of PowerPoint slides that tick forward every 15 seconds. <a href="http://igniteshow.com/" target="_blank">You can learn more about the format here.</a></p>
                            <p><a class="btn btn-small" href="{% url invite_related rand_id=invitation.rand_id main_object='Ignite' %}">Ignite sign-up</a></p>
                        {% endif %}
                        <hr />

                        {% if session %}
                            <h3>You've proposed a session.</h3>
                            <dl class="dl-horizontal">
                                <dt><strong>Title:</strong></dt>
                                <dd>
                                {% if session.title %}
                                {{ session.title }}
                                {% else %}
                                <span class="muted">
                                Please specify a title.
                                </span>
                                {% endif %}</dd>
                                <dt><strong>Description:</strong></dt>
                                <dd>
                                {% if session.description %}
                                {{ session.description }}
                                {% else %}
                                <span class="muted">
                                Not specified.
                                </span>
                                {% endif %}
                                </dd>
                            </dl>
                            <div class="btn-group"><a class="btn btn-small" href="{% url invite_related rand_id=invitation.rand_id main_object='Session' %}">Edit this proposal</a>
                            <a class="btn btn-small btn-danger" href="{% url invite_related_delete main_object='Session' rand_id=invitation.rand_id %}">Cancel this proposal</a>
                            </div>
                            {% else %}
                            <h3>Propose a session</h3> 
                            <p>Spark Camp is an unconference, which means the attendees set the agenda. Give us an idea for a topic you'd like to discuss at the event.</p>
                            <p><a class="btn btn-small" href="{% url invite_related rand_id=invitation.rand_id main_object='Session' %}">Propose a session</a></p>
                        {% endif %}

                    </div>
                </div>

                <div class="row">
                    <div class="span12">
                        <div class="page-header">
                        <h1>More information</h1>
                        </div>
                    </div>
                    <div class="span8 offset4">
                        <h3>Confirmed Campers.</h3>
                        <p>Check back soon for a full list of confirmed attendees.</p>
                        <hr />
                        
                        <h3>Session ideas.</h3>
                        <p>Check back soon for a list of session ideas that other Campers have submitted.</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="span12">
                    <hr />
                        <h3>See you {{ invitation.camp.start_date|date:"F j" }}!</h3>
                    </div>
                </div>

            {% else %}
                <p>No user found.</p>
            {% endif %}        

        {% endif %}
        
{% endblock %}