{% extends "base.html" %}

{% block anonnav %}
<li class="divider-vertical"></li>
<li class="active"><a name="dashboard">Dashboard</a></li>
{% endblock %}

{% block title %}{% if invitation.user.first_name %}{{ invitation.user.first_name }}'s {% endif %}Spark Camp {{ invitation.camp.theme }} Dashboard{% endblock %}

{% block pageheader %}Hi{% if invitation.user.first_name %}, {{ invitation.user.first_name }}{% endif %}.
<small>Manage your information for Spark Camp {{ invitation.camp.theme }} here.</small>
{% endblock %}

{% block content %}

        <div class="row">
            <div class="span4">
            
            {% block update %}{% if update %}
            
                <div class="alert alert-success">{{ update }}</div>

            {% endif %}{% endblock %}
            
            {% if invitation %}
            
                <p>{{ message }}</p>

                <form class="form-inline" action="/guest/{{ invitation.rand_id }}/" method="post">{% csrf_token %}
                <strong>Current RSVP:</strong><br />{{ form.status }}
                <input class="btn" type="submit" value="Update" />
                </form>

            {% else %}

                <p>No invitation found.</p>

            {% endif %}

            </div>
            
            <div class="span8">
            
            {% if invitation %}
            
                <div class="well">
                    <h2>Information about Spark Camp {{ invitation.camp.theme }}</h2>
                    
                    <p><strong>Dates:</strong> {{ invitation.camp.start_date|date:"l, F j" }} to {{ invitation.camp.end_date|date:"l, F j, Y" }}</p>
                    <p><strong>Description:</strong> {{ invitation.camp.description }}</p>
                    <p><strong>Official hotel:</strong> {{ invitation.camp.hotel }} (<a href="{{ invitation.camp.hotel_url }}">Reservation link</a>)</p>
                </div>
                    
            {% endif %}
            
            </div>
        </div>
        
        {% if invitation.status == 'Y' %}
            
            {% if user %}
                <div class="row">
                    <div class="span12">
                        <div class="alert alert-block">
                        <h4 class="alert-heading">A word of warning.</h4>
                        Keep the URL of this page secret. We didn't want to hassle you to log in, but that means anyone who has this link can change your bio to say you rose to fame as a cast member on "Jersey Shore."</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <div class="page-header">
                        <h1>Spark Camp logistics</h1>
                        </div>
                    </div>
                    <div class="span8 offset4">
                        <h3>Please make sure these are accurate and filled-in.</h3>
                            <dl class="dl-horizontal">
                                <dt><strong>Dietary&nbsp;preferences:</strong></dt>
                                <dd>{% if invitation.dietary %}{{ invitation.dietary }}{% else %}<span class="muted">Please specify any dietary preferences.</span>{% endif %}</dd>
                                <dt><strong>Arrival time:</strong></dt><dd>{% if invitation.arrival_time %}{{ invitation.arrival_time }}{% else %}<span class="muted">Please let us know when you'll be getting to Spark Camp.</span>{% endif %}</dd>
                                <dt><strong>Departure time:</strong></dt><dd>{% if invitation.departure_time %}{{ invitation.departure_time }}{% else %}<span class="muted">Please let us know when you'll be leaving Spark Camp.</span>{% endif %}</dd>
                                <dt><strong>Hotel is booked:</strong></dt><dd>{% if invitation.hotel_booked %}Yep.{% else %}<span class="muted">Please tell us when you've booked your hotel.</span>{% endif %}</dd>
                            </dl>
                            <a class="btn btn-small" href="/rsvp/{{ invitation.rand_id }}/logistics/">Update these details</a>
                        <hr />
                        {% if stipend %}
                            <h3>You've requested a travel stipend.</h3><p>We hope to be able to accommodate your request. We'll get back to you as soon as we've finalized our attendee list.</p>
                            <p><a class="btn btn-small" href="/rsvp/{{ invitation.rand_id }}/stipend/show">View your stipend request</a></p>
                            {% else %}
                            <h3>Request a travel stipend.</h3> 
                            <p>A limited number of partial travel stipends are available to ensure campers can attend regardless of financial situation.</p>
                            <p><a class="btn btn-small" href="/rsvp/{{ invitation.rand_id }}/stipend/">Stipend request form</a></p>
                        {% endif %}
                        <hr />
        
                        {% if roommate %}
                            <h3>You've requested a roommate.</h3><p>Coming soon: a list of Campers seeking roommates. Found a match? <a href="/rsvp/{{ invitation.rand_id }}/roommate/show">Let us know.</a></p>
                            {% else %}
                            <h3>Request a roommate.</h3> 
                            <p>Tell us a few details about the rooming situation you're comfortable with, and we'll try to match you up with another Camper.</p>
                            <p><a class="btn btn-small" href="/rsvp/{{ invitation.rand_id }}/roommate/">Roommate request form</a></p>
                        {% endif %}
                        <hr />
                        
                        {% if ignite %}
                            <h3>You've signed up for an Ignite talk.</h3>
                            <p>Start preparing your talk! We'll be in touch to confirm your participation.</p>
                            <p><a class="btn btn-small" href="/rsvp/{{ invitation.rand_id }}/ignite/show">View your talk</a></p>
                            {% else %}
                            <h3>Sign up for Ignite</h3> 
                            <p>An Ignite talk is a 5-minute presentation with an auto-advancing deck of PowerPoint slides that tick forward every 15 seconds. <a href="http://igniteshow.com/" target="_blank">You can learn more about the format here.</a></p>
                            <p><a class="btn btn-small" href="/rsvp/{{ invitation.rand_id }}/ignite/">Ignite sign-up</a></p>
                        {% endif %}

                    </div>
                </div>

                <div class="row">
                    <div class="span12">
                        <div class="page-header">
                        <h1>More Spark Camp details</h1>
                        </div>
                    </div>
                    <div class="span8 offset4">
                        <h3>Confirmed Campers.</h3>
                        <p>Check back soon for a full list of confirmed attendees.</p>
                        <hr />
                        
                        <h3>Session ideas.</h3>
                        <p>Check back soon for a list of session ideas that other Campers have submitted.</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="span12">
                    <hr />
                        <h3>See you {{ invitation.camp.end_date|date:"F j" }}!</h3>
                    </div>
                </div>

            {% else %}
                <p>No user found.</p>
            {% endif %}        

        {% endif %}
        
{% endblock %}