{% extends "form_holder.html" %}

{% block breadcrumb %}Stipend request{% endblock %}

{% block form %}
    <form class="well" action="/rsvp/{{ invitation.rand_id }}/stipend/" method="post">{% csrf_token %}
    <h3>Request a travel stipend</h3>
    <p>A limited number of partial travel stipends are available to ensure campers can attend regardless of financial situation.  The funding is provided based on need and is not inclusive of all travel costs.</p>
    <p>Decisions will be made on a combination of these criteria:</p>
    <ul>
        <li>Your contribution to travel expenses.</li>
        <li>Your employer's contribution to travel expenses, if applicable.</li>
        <li>The distance and expenses of travel.</li>
        <li>Hardship considerations.</li>
        <li>Other circumstances as determined by Spark Camp.</li>
    </ul>
    <p>Funds may take the form of hotel accommodations, flight purchases or a direct travel stipend.  We recommend waiting before making any non-refundable travel purchases.</p>
    {{ form.as_p }}
    <input class="btn" type="submit" value="Submit" />
    </form>
{% endblock %}
