{% extends "single_camp.html" %}

{% block title %}Stipend requests for Spark Camp {{ camp.theme }}{% endblock %}

{% block pageheader %}Stipend requests for <a href="{% url single_camp camptheme=camp.theme %}">Spark Camp {{ camp.theme }}</a>{% endblock %}

{% block content %}
        {% if invitations %}
            <div class="row">
                <div class="span12">
                    <table class="table table-bordered table-striped" id="invites-table">
                        <thead>
                            <tr>
                                <th>Invite No.</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Cost estimate</th>
                                <th>Subsidized?</th>
                                <th>Employer %</th>
                                <th>Invitee %</th>
                                <th>Details</th>
                            </tr>
                        </thead>                        
                    {% for stipend in stipends %}
                        <tr>
                            <td><a href="{{ stipend.url }}">{{ stipend.rand_id }}</a></td>
                            <td>{{ stipend.first_name }}</td>
                            <td>{{ stipend.last_name }}</td>
                            <td>{{ stipend.cost_estimate }}</td>
                            <td>{{ stipend.employer_subsidized }}</td>
                            <td>{{ stipend.employer_percentage }}</td>
                            <td>{{ stipend.invitee_percentage }}</td>
                            <td>{{ stipend.details }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
            
        {% else %}
            <p>No invitations found.</p>
        {% endif %}
{% endblock %}