{% extends "form_holder.html" %}

{% block breadcrumb %}Stipend application{% endblock %}

{% block form %}
{% if stipend %}
    <h3>Stipend application for {{ stipend.invitation.user.first_name }} {{ stipend.invitation.user.last_name }}</h3>
        <ul>
            <li><strong>Cost estimate:</strong> {{ stipend.cost_estimate }}</li>
            {% if stipend.employer_subsidized %}<li><strong>Employer help?</strong> {{ stipend.jobhelp }}</li>{% endif %}
            {% if stipend.employer_percentage %}<li><strong>% of costs your employer might cover:</strong> {{ stipend.employer_percentage }}</li>{% endif %}
            {% if stipend.invitee_percentage %}<li><strong>% of costs you can cover:</strong> {{ stipend.invitee_percentage }}</li>{% endif %}
            {% if stipend.details %}<li><strong>Notes:</strong> {{ stipend.details }}</li>{% endif %}
        </ul>
{% else %}
    <p>No stipend application found for this invitation.</p>
{% endif %}
{% endblock %}
