/* !============================================= */

/* ! Variables						  			  */ 

/* !============================================= */

/* !-- Universal ------------------------------------ */

$black-5: #f5f5f5;
$black-10: #ededed;
$black-15: #ccc;
$black-50: #999;
$black-75: #666; 
$black-90: #222; 
$black-95: #111; 

$light-gray: $black-10;
$med-gray: $black-50;
$dark-gray: $black-75;
$tease-txt: $black-75;
$txt-black: $black-90;
$text-black: $txt-black;

/* !-- Project ------------------------------------ */

$blue: #1d78af;
$orange: #e15430;
$teal: #75c3ac;
$tan: #F0E3E0;
$khaki: #baaea3;

$link: $black-90;
$link-hover: darken($link, 8%);
$highlight: #ea4c88;  //Pink

$sans:Arial,Helvetica,Verdana;
$serif:Georgia,Times,Times New Roman;
$mono:"Courier New",Courier,mono;
$sans-display:"adelle",$sans;
$serif-display:"superclarendon",$serif;
$serif-body:"adelle",$serif;
