{% extends "reboot/reboot.html" %}

{% block title %}Nominate someone for Spark Camp{% endblock title %}

{% block pageheader %}
<h1>Nominate someone for Spark Camp</h1>
{% endblock pageheader %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      {% if messages %}
        {% for message in messages %}
        <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
        
      <form action="{% url 'nominate' %}" method="POST">
        {% csrf_token %}
        <table class="table table-responsive table-condensed">
          {{ form.as_table }}
          <tr>
            <th></th>
            <td><input type="submit" class="btn btn-default" /></td>
          </tr>
        </table>
        </form>
    </div>
  </div>
</div>
{% endblock main %}