{% extends "reboot/reboot.html" %}

    {% if nominate %}
    {% block customstyles %}
    body { 
        padding-bottom: 70px; 
    }
    {% endblock customstyles %}
    {% endif %}

    {% block title %}Search{% if query_string %} results for "{{ query_string }}"{% endif %}{% endblock title %}

    {% block pageheader %}
    <div class="row">
        <div class="col-lg-6">
            <h1>Search{% if query_string %}<small> results for "{{ query_string }}"</small>{% endif %}</h1>
        </div>
        <div class="col-lg-6">
            <br />
            <form action="{% if nominate %}{% url 'nodsearch' %}{% else %}{% url 'search' %}{% endif %}" class="form-inline" method="GET" >
            <div class="form-group">
                <input type="text" class="form-control" id="q" name="q" {% if query_string %}value="{{ query_string }}"{% else %}placeholder="Enter your search query"{% endif %} />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    {% endblock pageheader %}

    {% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if query_string %}
                    {% if results %}
                        <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    {% if nominate %}
                                    <th><input type="checkbox" id="check_all" /></th>
                                    {% endif %}
                                    <th>Name</th>
                                    <th>Company</th>
                                    <th>Title</th>
                                    <th>Bio</th>
                                    <th>POC</th>
                                    <th>W</th>
                                    <th>J</th>
                                </tr>
                            </thead>
                            {% if nominate %}
                            <form action="{% url 'nominated' %}" method="POST">
                                {% csrf_token %}
                            {% endif %}
                        {% for result in results %}
                            <tr>
                                {% if nominate %}
                                <td><input type="checkbox" name="checked" class="nod_check" value="{{ result.id }}" /></td>
                                {% endif %}
                                <td>{% if result.first_name %}{{ result.first_name }} {{ result.last_name }}{% else %}{{ result.username }}{% endif %}</td>
                                <td>{{ result.sparkprofile.employer }}</td>
                                <td>{{ result.sparkprofile.job_title }}</td>
                                <td>{{ result.sparkprofile.bio }}</td>
                                <td>{% if result.sparkprofile.poc %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                                <td>{% if result.sparkprofile.woman %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                                <td>{% if result.sparkprofile.journo %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </table>
                        </div>
                    {% else %}
                        <h3>No results found for {{ query_string }}.</h3>
                    {% endif %}
                {% else %}
                    <h3>Enter your search query at right.</h3>
                {% endif %}
            </div>
        </div>
    </div>

    {% if nominate %}
    <nav class="navbar navbar-default navbar-fixed-bottom text-right">
        <div class="container">
            <div class="navbar-form">
                {{ camptheme }}
                {% if not camptheme %}
                <select class="form-control" name="campselect">
                    <option value="">Choose a camp (optional):</option>
                    {% for camp in camps %}
                    <option value="{{ camp.id }}">{% if camp.display_name %}{{ camp.display_name }}{% else %}{{ camp.theme }}{% endif %}</option>
                    {% endfor %}
                </select>
                {% else %}
                <label for="nodsubmit">Nominating for {{ camp.display_name }}</label>
                {% endif %}
                <input type="submit" class="btn btn-info" value="Nominate" id="nodsubmit" />
            </div>
        </div>
    </nav>
    </form>
    {% endif %}

    {% endblock main %}

    {% block customscripts %}
    <script src="{{ STATIC_URL }}_js/jquery.tablesorter.mod.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#check_all').click(function(event) {  //on click 
            if(this.checked) { // check select status
                $('input.nod_check').each(function() { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"               
                });
            }else{
                $('input.nod_check').each(function() { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"                       
                });         
            }
        });
      });
    </script>
    {% endblock customscripts %}