{% extends "reboot/reboot.html" %}

    {% block customstyles %}
    body { 
        padding-bottom: 70px; 
    }

    input.vote_tally {
        background-color: transparent;
        border: 0;
        text-align: center;
        font-weight: bold;
        padding, margin: 0;
    }
    {% endblock customstyles %}

    
    {% block pageheader %}
    <div class="row">
        <div class="col-lg-6">
            <h1>Vote<small> {{ round.short_name|lower }} for {{ camp.display_name }}</small></h1>
        </div>
        <div class="col-lg-6">
            <br />
            <form action="{% url 'nodsearch' %}" class="form-inline" method="GET" >
            <div class="form-group">
                <input type="text" class="form-control" id="q" name="q" placeholder="Search users to nominate others" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    {% endblock pageheader %}

    {% block main %}
    <form action="{% url 'vote' round=round.id %}" method="POST">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if nominations %}
                {% regroup nominations by user as nominations_list %}
                    <div class="table-responsive">
                    <table class="table table-bordered" id="vote-table">
                        <thead>
                            <tr>
                                <th><span class="glyphicon glyphicon-plus-sign" alt="Expand all rows" id="expand_all"></span></th>
                                <th>Votes</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Company</th>
                                <th>Title</th>
                                <th>Bio</th>
                                <th>POC</th>
                                <th>W</th>
                                <th>J</th>
                            </tr>
                        </thead>
                        {% csrf_token %}
                    {% for nomination in nominations_list %}
                        <tr>
                            {% for nominee in nomination.list %}
                            {% if forloop.first %}
                            <td><span class="glyphicon glyphicon-plus-sign"></span></td>
                            <td><span class="glyphicon glyphicon-chevron-left" class="subtract_vote"></span><input type="number" name="vote_tally" min="{{ nominee.minimum }}" max="50" size="2" value="{{ nominee.count }}" class="vote_tally" /></span>&nbsp;
                                <span class="glyphicon glyphicon-chevron-right" class="add_vote"></span><input type="hidden" value="{{ nominee.pk }}" name="voter_id" /></td>
                            <td>{{ nominee.user.first_name }}</td>
                            <td>{{ nominee.user.last_name }}</td>
                            <td>{{ nominee.user.sparkprofile.employer }}</td>
                            <td>{{ nominee.user.sparkprofile.job_title }}</td>
                            <td>{{ nominee.user.sparkprofile.bio }}</td>
                            <td>{% if nominee.user.sparkprofile.poc %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                            <td>{% if nominee.user.sparkprofile.w %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                            <td>{% if nominee.user.sparkprofile.journo %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                        </tr>
                        <tr class="vote_more expand-child" style="display:none;">
                            <td colspan="10">
                                {% endif %}
                                <p><strong>{{ nominee.nominated_by }}</strong>
                                <dl class="dl-horizontal">
                                    <dt>Reason:</dt><dd>{{ nominee.reason }}</dd>
                                    <dt>Description:</dt><dd>{{ nominee.description }}</dd>
                                </dl>
                                {% if forloop.last %}
                                <div class="form-group">
                                    <label for="vote_comments" />Your comment:</label>
                                    <input type="text" class="vote_more" value="{{ nominee.comments }}" id="vote_comments" />
                                </div>
                            </td>
                        </tr>
                    {% endif %}{% endfor %}{% endfor %}
                    </table>
                    </div>
                {% else %}
                    <h3>No nominations yet for {{ camp.display_name }}.</h3>
                {% endif %}
                {% if request %}{{ request }}{% endif %}
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom text-right">
        <div class="container">
            <div class="navbar-form">
                <p class="navbar-text navbar-right"><span id="vote_count">{{ num_votes }}</span> votes left</p>
                <input type="submit" class="btn btn-info navbar-right" value="Vote!" id="nodsubmit" />
            </div>
        </div>
    </nav>        
    </form>
    {% endblock main %}

    {% block customscripts %}
    <script src="{{ STATIC_URL }}_js/jquery.tablesorter.mod.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#vote-table").tablesorter({
          sortList: [[3,0],[2,0]],
          headers: { 0: { sorter: false}, },
          cssDesc: 'active',
          cssAsc: 'danger',
        });
        $('input.vote_tally').siblings('span.glyphicon-chevron-left').click(function(){
          num = $(this).siblings('input.vote_tally').val();
          count = parseInt($('span#vote_count').text());
          min = parseInt($(this).siblings('input.vote_tally').attr('min'));
          num--;
          if(num >= min){ 
              $(this).siblings('input.vote_tally').val(num);
              count++;
              $('span#vote_count').text(count);
          };  
          console.log(num);
        });      
        $('input.vote_tally').siblings('span.glyphicon-chevron-right').click(function(){
          num = $(this).siblings('input.vote_tally').val();
          count = parseInt($('span#vote_count').text());
          num++;
          if(count >= 0){
              $(this).siblings('input.vote_tally').val(num);
              count--;
              $('span#vote_count').text(count);
          }
          console.log(num);
        });      
        $('span.glyphicon-plus-sign').click(function(){
            $(this).parents('tr').next('tr').toggle();
            $(this).toggleClass('glyphicon-plus-sign glyphicon-minus-sign');
            console.log($(this).parents('tr').next('tr'));
        });
        $('span#expand-all').click(function(){
            $('tr.expand-child').toggle();
            $('span.glyphicon-plus-sign').toggleClass('glyphicon-plus-sign glyphicon-minus-sign');
            $(this).toggleClass('glyphicon-plus-sign glyphicon-minus-sign');
        });
      });
    </script>
    {% endblock customscripts %}
