{% extends "reboot/reboot.html" %}

  {% block admin-navitems %}
    <li><a href="{% url 'camp' camptheme=camp.theme %}">Event dashboard</a></li>
    <li><a href="{% url 'admin:rsvp_camp_change' camp.id %}">Edit event</a></li>
    {% block admin-invite-navitems %}{% endblock admin-invite-navitems %}
  {% endblock admin-navitems %}

  {% block pageheader %}
  <h1>{{ camp.display_name }} <small>About this event</small></h1>
  {% endblock pageheader %}
  
  {% block main %}
  {% if invitations %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="lead">{{ camp.description }}</p>
        <p class="text-muted">Click any header in the table below to sort by that column. Hold shift while clicking to sort on multiple columns.</p>
      </div>
      <div class="col-lg-3">
        <p>{{ confirmed|length }} confirmed /
          <span class="text-muted">{{ invitations|length }} total</span>
        </p>
        <p>{{ percent_women }}% /
          <span class="text-muted">{{ percent_all_women }}% women</span>
        </p>
        <p>{{ percent_poc }}% /
          <span class="text-muted">{{ percent_all_poc }}% POC</span>
        </p>
        <p>{{ percent_journos }}% /
          <span class="text-muted">{{ percent_all_journos }}% media</span>
        </p>
      </div>
      <div class="col-lg-3">
        {% if camp.spreadsheet_url %}
        <h4>Sync with Google Spreadsheet</h4>
        <form class="form-inline comment-form" action="{% url 'google_sync' camptheme=camp.theme %}" method="get" role="form">
          <div class="form-group">
            <label class="sr-only" for="deadline">Days till deadline:</label>
            <input type="text" class="form-control input-sm" value="14" name="deadline" />
            <input class="btn btn-sm" type="submit" value="Sync" />
          </div>
        </form>
        {% endif %}
        {% if camp.mailchimp_list %}
        <h4>Sync with Mailchimp</h4>
        <form class="form-inline comment-form" action="{% url 'mailsync' camptheme=camp.theme %}" method="get" role="form">
          <div class="form-group">
            <input class="btn btn-sm" type="submit" value="Sync" />
          </div>
        </form>          
        {% endif %}
      </div>
    </div>
  </div>


  <!-- DATA ABOUT INVITATIONS -->
  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped table-condensed table-bordered" id="invites-table">
        <thead>
          <tr id="invites-header">
            <th>Invite No.</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Status</th>
            {% if invite.camp.stipend %}<th>Stipend</th>{% endif %}
            <th>Roommate</th>
            {% if invite.camp.ignite %}<th>Ignite</th>{% endif %}
            <th>Expires</th>
          </tr>
        </thead>                        
        {% for invite in invitations %}
        <tr>
          <td><a href="{% url 'route' invite.rand_id %}">{{ invite.rand_id }}</a></td>
          <td>{{ invite.user.first_name }}</td>
          <td>{{ invite.user.last_name }}</td>
          <td>{{ invite.status }}</td>
          {% if invite.camp.stipend %}
          <td style="text-align: center">{% if invite.stipend %}<a href="{% url 'invite_related' rand_id=invite.rand_id main_object='Stipend' %}"><span class="glyphicon glyphicon-ok"></span></a>{% endif %}</td>
          {% endif %}
          <td style="text-align: center">{% if invite.roommate %}<a href="{% url 'invite_related' rand_id=invite.rand_id main_object='Roommate' %}"><span class="glyphicon glyphicon-ok"></span></a>{% endif %}</td>
          {% if invite.camp.ignite %}
          <td style="text-align: center">{% if invite.ignite %}<a href="{% url 'invite_related' rand_id=invite.rand_id main_object='Ignite' %}"><span class="glyphicon glyphicon-ok"></span></a>{% endif %}</td>
          {% endif %}
          <td>{{ invite.expires }}</td>
        </tr>
        {% endfor %}
      </table>

    </div>
  </div>

  {% else %}
  <div class="container">
    <div class="row">
      <h3>No invitations for this camp have been entered yet.</h3>
      <p><a href="/admin/rsvp/invitation/add/">Add some invitations from the admin.</a></p>
    </div>
  </div>
  {% endif %}
  {% endblock main %}
    
  {% block customscripts %}
    <script src="{{ STATIC_URL }}_js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#invites-table").tablesorter({
          sortList: [[3,0],[2,0]],
          cssDesc: 'active',
          cssAsc: 'danger',
        });
      });
    </script>
  {% endblock customscripts %}