{% extends "reboot/invite.html" %}

  {% block pageheader %}
  <h1>{{ camp.display_name }} <small>FAQ</small></h1>
  {% endblock pageheader %}

  {% block welcome %}
    <ol class="breadcrumb">
      <li><a href="{% url 'route' rand_id=invitation.rand_id %}">Back</a></li>
      <li class="active">Semi-Frequently Asked Questions</li>
    </ol>

  {{ invitation.camp.faq }}
  {% endblock welcome %}

    {% block action %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Still have questions?</h3>
      </div>
      <div class="panel-body">
        <p>If you can't find the answer to your question about {{ camp.display_name }}, please don't hesitate to ask us. Just <a href="mailto:{{ email_address }}?subject=Question about {{ camp.display_name }}">shoot us an email</a>, and we'll get back to you as soon as possible.</p>
    </div> <!-- /panel-body -->
  </div> <!-- /panel panel-info -->
  {% endblock action %}
