{% extends "reboot/camp.html" %}

  {% block title %}{{ invitation.camp.display_name }} – Invitation{% endblock title %}

  {% block admin-invite-navitems %}
  <li><a href="{% url 'admin:rsvp_invitation_change' invitation.id %}">Edit invitation</a></li>
  <li><a href="{% url 'admin:auth_user_change' invitation.user.id %}">Edit user</a></li>
  {% endblock admin-invite-navitems %}

  {% block navitems %}
  {% if invitation.camp.faq %}
  <li><a href="{% url 'route' invitation.rand_id %}">Dashboard</a></li>
  <li><a href="{% url 'faq' invitation.rand_id %}">FAQ</a></li>
  {% endif %}
  {% endblock navitems %}

  {% block pageheader %}
  <h1>{{ camp.display_name }} <small>{% if invitation.camp.start_date and invitation.camp.end_date %}{{ invitation.camp.start_date|date:"F j" }}-{{ invitation.camp.end_date|date:"j, Y" }}{% endif %}</small></h1>
  {% endblock pageheader %}

  {% block main %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          
          {% if messages %}
            {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
          

          {% autoescape off %}
          {% block welcome %}
          <p class="lead">{{ invitation.welcome }}</p>
          {% endblock welcome %}
          {% endautoescape %}
        </div>
        <div class="col-lg-4">
          {% block action %}
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Join us at {{ camp.display_name }}</h3>
            </div>
            <div class="panel-body">
              {% if invitation.camp.paid %}
                <p>The registration fee for {{ invitation.camp.display_name }} is ${{ invitation.camp.ticket_cost }}. This covers all meals and camp programming and events, but does not cover personal travel or lodging.
                {% if invitation.has_paid or invitation.comp_ticket %}
                  <br /><br />Your registration fee is already taken care of, so you will not need to pay. Please <a href="{% url 'update' rand_id=invitation.rand_id %}">proceed with your registration</a>, and we'll reserve your spot.
                {% else %}
                  {% if invitation.special_cost %} 
                    <br /><br />However, your registration comes at a special rate of ${{ invitation.special_cost }}.
                  {% endif %}
                  {% if invitation.camp.stipends %}
                    <br /><br />If you won't be able to attend without financial assistance, we offer stipends thanks to the generous support of our sponsors. Please <a href="{% url 'stipend' rand_id=invitation.rand_id %}">request a stipend</a>, instead of clicking "Reserve your place" below.
                  {% endif %}
                  </p>
                  <form action="{% url 'pay' invitation.rand_id %}" method="POST" class="text-right">
                    {% csrf_token %}
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="{{ invitation.key }}"
                      data-amount="{{ invitation.stripe_cost }}"
                      data-name="{{ invitation.camp.theme }}"
                      data-description="Reserve your place"
                      data-label="Reserve your place"
                    </script>
                    <input type="hidden" name="rand_id" value="{{ invitation.rand_id }}" />
                  </form>
                {% endif %}
              {% else %}
                <p>There's no charge to attend {{ invitation.camp.display_name }}, although you're responsible for your own travel and lodging. If you'd like to attend, please <a href="{% url 'update' rand_id=invitation.rand_id %}">register here</a>.
                {% if invitation.camp.stipends %}
                  <br /><br />If you won't be able to attend without financial assistance, please <a href="{% url 'stipend' rand_id=invitation.rand_id %}">request a stipend</a>.
                {% endif %}
                </p>
              {% endif %}
          </div> <!-- /panel-body -->
        </div> <!-- /panel panel-info -->
        {% endblock action %}
      </div> <!-- /col-lg-4 -->
    </div> <!-- /row -->
  </div> <!-- /container -->
  {% endblock main %}

  {% block customscripts %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  {% endblock customscripts %}